aiohttp==3.8.1
aiosignal==1.2.0
android-backup==0.2.0
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
archinstall==2.4.2
asgiref==3.5.2
async-timeout==4.0.2
attrs==21.4.0
beautifulsoup4==4.11.1
btrfsutil==5.17
CacheControl==0.12.6
cachetools==5.1.0
catfish==4.16.3
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.3
cloud-init==22.2
colorama==0.4.4
configobj==5.1.0.dev0
construct==2.10.68
contextlib2==0.6.0.post1
croniter==1.3.5
cryptography==37.0.0
defusedxml==0.7.1
distlib==0.3.4
distro==1.7.0
Django==4.0.4
docopt==0.6.2
frozenlist==1.3.0
future==0.18.2
geojson==2.5.0
gitdb==4.0.9
GitPython==3.1.27
google==3.0.0
google-api-core==2.8.1
google-auth==2.6.6
google-auth-oauthlib==0.4.6
google-cloud==0.34.0
google-cloud-dialogflow==2.14.0
google-pasta==0.2.0
googleapis-common-protos==1.56.2
grpcio==1.46.3
grpcio-status==1.46.3
gufw==22.4.0
halo==0.0.31
html5lib==1.1
idna==3.3
ifaddr==0.1.7
importlib-metadata==4.8.1
Jinja2==3.1.2
jsonpatch==1.32
jsonpointer==2.1
jsonschema==3.2.0
log-symbols==0.0.14
MarkupSafe==2.1.1
more-itertools==8.12.0
msgpack==1.0.3
multidict==6.0.2
netifaces==0.11.0
num2words==0.5.10
numpy==1.22.4
oauthlib==3.2.0
omegaconf==2.2.2
ordered-set==4.0.2
packaging==21.3
pep517==0.12.0
pexpect==4.8.0
Pillow==9.1.1
ply==3.11
progress==1.6
proto-plus==1.20.5
protobuf==3.20.1
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pybind11==2.9.2
pycairo==1.21.0
pycparser==2.21
pycryptodome==3.14.1
PyGObject==3.42.1
pyOpenSSL==22.0.0
pyowm==3.3.0
pyparsing==3.0.9
PyQt5==5.15.6
PyQt5-sip==12.10.1
pyrsistent==0.18.1
PySocks==1.7.1
python-dateutil==2.8.2
python-miio==0.5.11
python-weather==0.3.7
python-xlib==0.31
pyttsx3==2.90
pytz==2022.1
PyYAML==6.0
ranger-fm==1.9.3
Reflector==2021.11.20.2.41.3
requests==2.27.1
requests-oauthlib==1.3.1
resolvelib==0.5.5
retrying==1.3.3
rsa==4.8
shtab==1.5.4
six==1.16.0
smmap==5.0.0
sounddevice==0.4.2
soupsieve==2.3.2.post1
SpeechRecognition==3.8.1
spinners==0.0.24
sqlparse==0.4.2
srt==3.5.2
TBB==0.2
team==1.0
termcolor==1.1.0
tldr==3.1.0
toml==0.10.2
tomli==2.0.1
torch==1.11.0
tqdm==4.64.0
transliterate==1.10.2
typing-extensions==4.2.0
ueberzug==18.1.9
ufw==0.36.1
urllib3==1.26.9
validate==5.1.0.dev0
vosk==0.3.42
webencodings==0.5.1
xmltodict==0.13.0
yarl==1.7.2
youtube-dl==2021.12.17
zeroconf==0.38.6
zipp==3.8.0
